// Place all the styles related to the Static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

#navbar-full-custom{
 background-color: #42b883 !important;
}
#navbar-brand-custom {
  color: #35495e
}

.display-none{
  display: none;
}
