<!-- Footer -->
<footer class="page-footer font-small footer-custom">
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 footer-copyright-custom">© 2018 Copyright:
    <a href="https://www.facebook.com/profile.php?id=100010848183303"> Camilo A. Obando Abril</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
